<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ encore_entry_link_tags('app/julekalender') }}

    <title>{% block title %}{{ title|default(julekalender.title) }}{% endblock %}</title>
  </head>
  <body>
    <div id="root">{{ julekalender.title }}</div>

    {% if app.user|default(false) %}
        <a href="{{ path('admin', {crudAction: 'edit', entityId: julekalender.id}) }}">{{ 'Edit julekalender'|trans }}</a>
    {% endif %}

    {{ encore_entry_script_tags('app/julekalender') }}
  </body>
</html>
