{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    {% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-3">
        {{ form_row(form.columns) }}
        </div>
        <div class="col-3">
            {{ form_row(form.width) }}
        </div>
        <div class="col-3">
            {{ form_row(form.height) }}
        </div>
        <div class="col-1">
            {{ form_row(form.shuffle) }}
        </div>
        <div class="col-2">
            <div class="float-right">
                {{ form_row(form.layOut) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group field-button ">
                <button type="button" id="undo" class="btn-secondary btn">Undo</button>
                {# <button type="button" id="redo" class="btn-secondary btn">Redo</button>#}
            </div>

        </div>
        <div class="col">
            <div class="float-right">
                {{ form_row(form.save) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div id="scenes">
        {% for scene in calendar.scenes %}
            <div class="scene-wrapper" data-index="{{ loop.index0 }}">
                <div class="scene" data-index="{{ loop.index0 }}">
                    <span class="label">{{ loop.index }}</span>
                    <div class="corner left top"></div>
                    <div class="corner right top"></div>
                    <div class="corner left bottom"></div>
                    <div class="corner right bottom"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin/calendar/lay_out') }}
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin/calendar/lay_out') }}
    <style>
        #scenes {
            width: {{ calendar.image.dimensions[0] }}px;
            height: {{ calendar.image.dimensions[1] }}px;
            background-image: url({{ vich_uploader_asset(calendar, 'imageFile') }});
        }
    </style>
{% endblock %}
